{% extends 'base.html.twig' %}
{% import "_macros.html.twig" as ui %}

{% block title %}CS2 Server Status{% endblock %}

{% block body %}
<div class="container">
    <img class="center" src="https://i.ibb.co/V0nK6bcN/banner.jpg">
    <div>
        <div>
            <h1 class="text-center">{{ server.host }}</h1>
            {% if server.status == 'online' %}
                <span class="tag bg-success">Online</span>
            {% else %}
                <span class="tag bg-danger">Offline</span>
            {% endif %}
        </div>
        <div>
            {% if map %}
                <p>
                    <strong>Current Map:</strong>
                    <a href="{{ path('app_map_times', { 'id': map.id }) }}" class="player-name-link">
                        {{ map.name }}
                    </a>
                </p>
            {% endif %}

            <p><strong>Players Online:</strong> {{ server.players|length }} / {{ server.max_players }}</p>
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in server.players %}
                    <tr>
                        <td>
                            <a href="{{ path('app_player_times', { 'id': player.id }) }}" class="player-name-link">
                                <strong>{{ ui.flag(player.country) }} {{ player.name }}</strong>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}