{% extends 'base.html.twig' %}
{% import "_macros.html.twig" as ui %}

{% block title %}CS2 Server Status{% endblock %}

{% block body %}
<div class="container dashboard-vertical">
    
    <div class="card status-card">
        <div class="card-header">
            <h2>Currently playing</h2>
        </div>
        
        <div class="card-body">
            {% if map %}
                <p>
                    <strong>Map:</strong>
                    <a href="{{ path('app_map_times', { 'name': map.name }) }}" class="player-name-link">
                        <strong>{{ map.name }}</strong>
                    </a>
                </p>
            {% endif %}
            
            <p><strong>Players:</strong> {{ players|length }} / 64</p>
            
            <table class="leaderboard-table">
                <thead>
                    <tr>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                {% for player in players %}
                    <tr>
                        <td>
                            <a href="{{ path('app_player', { 'steamId': player.steamId }) }}" class="player-name-link">
                                <strong>{{ ui.flag(player.country) }} {{ player.name }}</strong>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td class="text-muted text-center">No players online at the moment.</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="card activity-card">
        <div class="card-header">
            <h2>Last Activity</h2>
        </div>
        
        <div class="card-body activity-stream">
            {% for activity in activities %}
                <div class="activity-block">
                    <div class="activity-content">
                        {% set country = activity.player.country == 'LL' ? 'BE' : activity.player.country %}
                        {{ ui.flag(country) }}
                        
                        <a href="{{ path('app_player', { 'steamId': activity.player.steamId }) }}" class="player-name-link">
                            <strong>{{ activity.player.name }}</strong>
                        </a>
                        
                        {% if activity.rankedData.worldwideRank == 1 %}
                            <span class="text-cs font-weight-bold">set a new Map WR</span>
                        {% else %}
                            <span class="text-primary">made rank #{{ activity.rankedData.worldwideRank }}</span>
                        {% endif %}
                        
                        on              

                        <a href="{{ path('app_map_times', { 'name': activity.map.name }) }}" class="map-link">
                            <strong>{{ activity.map.name }}</strong>
                        </a>

                        with a time of <strong>[{{ activity.runTime|format_ticks }}]</strong>
                    </div>
                    
                    <div class="activity-time text-muted">
                        {% set difference = date().timestamp - date(activity.runTimestamp).timestamp %}
                        {% set hours = (difference / 3600)|round(0, 'floor') %}
                        {% set minutes = (difference / 60)|round(0, 'floor') %}
                        
                        <small>
                            {% if minutes < 60 %}
                                {{ minutes }} min ago
                            {% elseif hours < 24 %}
                                {{ hours }} hours ago
                            {% else %}
                                {{ activity.runTimestamp|date('d-m-Y') }}
                            {% endif %}
                        </small>
                    </div>
                </div>
            {% else %}
                <p class="text-muted text-center">No recent map activity found.</p>
            {% endfor %}
        </div>
    </div>

</div>
{% endblock %}